html,
body {
  height: 100%;
  margin: 0;
}

.login-app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 76px;
  font-style: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.login-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-info-usuario {
  width: 460px;
  font-family: "Inria Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 3px;
  text-align: left;
}

.login-info-contraseña {
  width: 460px;
  font-family: "Inria Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 3px;
  text-align: left;
  margin-top: 50px;
}

.login-username {
  border-radius: 5px;
  border: black 2px solid;
  width: 450px;
  height: 40px;
  font-size: 25px;
}

.login-password {
  border-radius: 5px;
  border: black 2px solid;
  width: 450px;
  height: 40px;
  font-size: 25px;
}

.login-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.login-create {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #0087a4;
  color: white;
  height: 60px;
  width: 180px;
  font-size: 25px;
  font-family: "Inria Sans", sans-serif;
  font-weight: bold;
}

.login-create:hover {
  background-color: #002259;
}

.login-login {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 60px;
  width: 180px;
  font-size: 25px;
  font-family: "Inria Sans", sans-serif;
  font-weight: bold;
  margin-left: 100px;
}

.login-login:hover {
  background-color: #717171;
}
