html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.update-app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  margin-bottom: 3%;
}

.update-message {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  color: #0051a8;
  margin: 0px;
  margin-bottom: 20px;
}

.update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
  color: black;
  width: 500px;
}

.update-input {
  width: 500px;
  height: 40px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  font-style: normal;
  text-align: center;
  color: black;
  display: flex;
}

.update-button {
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 60px;
  width: 300px;
  font-size: 20px;
  font-family: "Inria Sans", sans-serif;
  font-weight: bold;
  margin-top: 10%;
  cursor: pointer;
}

.update-button:hover {
  background-color: #0051a8;
}

/* Para pantallas pequeñas como teléfonos móviles */
@media (max-width: 600px) {
  .update-title {
    font-size: 30px;
    margin-bottom: 5%;
  }

  .update-message {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .update-text,
  .update-input {
    width: 80%;
    font-size: 18px;
  }

  .update-button {
    width: 80%;
    height: 50px;
    font-size: 18px;
    margin-top: 5%;
  }
}

/* Para pantallas medianas como tabletas */
@media (max-width: 900px) {
  .update-title {
    font-size: 40px;
  }

  .update-message {
    font-size: 22px;
  }

  .update-text,
  .update-input {
    width: 80%;
    font-size: 22px;
  }

  .update-button {
    width: 200px;
    font-size: 18px;
  }
}

/* Para pantallas grandes como monitores de escritorio */
@media (min-width: 1200px) {
  .update-title {
    font-size: 55px;
  }

  .update-message {
    font-size: 30px;
  }

  .update-text,
  .update-input {
    width: 600px;
    font-size: 30px;
  }

  .update-button {
    width: 60%;
    font-size: 22px;
    height: 70px;
  }
}
