.create-user-App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #007bff, #00bfff);
  color: #ffffff; /* Color de texto blanco para mejor contraste */
}

.form {
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco transparente para el formulario */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-user-button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff; /* Fondo blanco para el botón */
  color: #007bff; /* Texto azul para el botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.create-user-button:hover {
  background-color: #0056b3; /* Color azul más oscuro al pasar el mouse */
  color: white;
}

p {
  color: red;
  font-size: 12px;
  margin: 0;
  text-align: left;
}
